# vscode ignores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# python ignore
__pycache__/*　
*.py[cod]
*$py.class

# big files
fx_env/fx_env/envs/M30_201001-201912_Tech9.csv
M30_201001-201912_Tech9.csv
M30_201001-201912_Tech7.csv
results/*
results_acer/*
results_rainbow/*
reference/*
atari_acer.py
*.pt
*.gasf
*.gasf2
